{% extends "base.html.twig" %}
{% import 'macros.html.twig' as macros %}

{% block title %}{{ 'People'|trans }} | BRT solutions{% endblock %}


{% block content %}

    {% include "components/tabs/roles.html.twig" with {
        type: 'people'
    } %}

    <a class="btn btn-primary" href="{{ path('user_page_register') }}" role="button">{{ 'Add user'|trans }}</a>

    {#{{ form(form) }}#}


    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.status) }}
    {{ form_row(form.role) }}
    {{ form_row(form.filter) }}
    {{ form_row(form.reset) }}
    {{ form_row(form.action) }}
    {{ form_row(form.execute_action) }}

    <table class="table table-hover table-primary">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Username'|trans }}</th>
            <th scope="col">{{ 'Status'|trans }}</th>
            <th scope="col">{{ 'Roles'|trans }}</th>
            <th scope="col">{{ 'Operations'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {#{{ dump(form) }}#}
        {% for row in form.users %}

            <tr>
                <td>{{ form_row(row.action) }}</td>
                <td>{{ form_row(row.username) }}</td>
                <td>{{ form_row(row.status) }}</td>
                <td>{{ form_row(row.roles) }}</td>
                <td></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    {{ form_end(form) }}

{% endblock %}
